$rich-black: #111a2c;
$background-light: #ecf2f2;
$background-dark: #dae7e7;
$lighter-green: #7ec8c5;
$green: #48a9a6;
//$green: rgba(72, 169, 166, 1)
$darker-green: #2b6462;
//$darker-green: rgba(43, 100, 98, 1)
$yellow-highlight: #f6ae2d;
//$yellow-highlight: rgba(246, 174, 45, 1)
$light-yellow-highlight: #f8cb77;
//$light-yellow-hightlight: rgba(248, 203, 119, 1)
$pink-highlight: #eb5e55;
//$pink-hightlight: rgba(235, 94, 85, 1)
